<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">

</head>
<body>
<header>
<div class='hero-text-box login'>
<form action="{{url_for('result')}}" method="POST">
<input type="text" name="mail" placeholder="Email" required=""></br>
<input type="text" name="url" placeholder="Product's Url" required=""></br>
<input class = 'btn' type="submit" value="Submit">
</div>
    
</form>
</header>

</body>
</html>